<html ng-app="app">
<head>
    <link href="stylesheets/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
</head>
<body ng-controller="Controller">
    <div ng-show="login">
        <div class="login-page" ng-init="init()">
            <div class="form">
                <form class="login-form">
                    <input type="text" placeholder="username" ng-model="username" />
                    <button type="button" ng-click="visibleLogin()">login</button><hr />
                    <button type="button" ng-click="invisibleLogin()">login Invisible</button>
                </form>
            </div>
        </div>
    </div>
    <div ng-hide="login" style="padding:50px;">
        <div style="padding:20px">
            <div class="container">

                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="col-12 col-md-9">
                        <div class="jumbotron">
                            <button type="button" class="btn btn-secondary float-right" ng-click="logout(username)">Logout</button>
                            <h1>Hello, {{username}}!</h1>
                            <p>Visibility: <span class="badge badge-default">{{status}}</span></p>
                            <hr />
                            <div ng-show="chatRequest">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">Invitation</h4>
                                        <p class="card-text">{{chatRequestMessage}}</p>
                                        <button type="button" class="btn btn-outline-primary" ng-click="acceptChat(communicationObject)">Accept</button>
                                        <button type="button" class="btn btn-outline-danger" ng-click="declineChat(communicationObject)">Decline</button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="chatAccept">
                                <ul class="list-group">
                                    <li class="list-group-item"
                                        ng-repeat="message in messages">
                                        {{ message.name === username ? 'You' : message.name }}: {{ message.msg }}
                                    </li>
                                </ul>
                                <div class="alert alert-warning" ng-show='messages.length == 0'>
                                    No messages for you.
                                </div>
                                <hr />
                                <div ng-show="writeMessage">
                                    <div class="message-sender">
                                        <textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="chatInvite">
                                <div class="alert alert-info" ng-show='messages.length == 0'>
                                    {{messageInvite}}
                                </div>
                            </div>
                            <!--<ul class="list-group">
                                <li class="list-group-item"
                                    ng-repeat="message in messages">
                                    {{ message.name === username ? 'You' : message.name }}: {{ message.msg }}
                                </li>
                            </ul>
                            <div class="alert alert-warning" ng-show='messages.length == 0'>
                                No messages for you.
                            </div>
                            <hr />
                            <div ng-show="writeMessage">
                                <div class="message-sender">
                                    <textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"></textarea>
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                        <div class="card">
                            <div class="card-header">
                                Registered Users: {{userListCount}}
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">How to chat?</h4>
                                <p class="card-text">Enter the username in the search box or select from a list of users who have made their precese visible</p>
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="searchUsername" placeholder="Enter username">
                                </div>
                                <button type="button" ng-click="search()" class="btn btn-primary">Initiate chat</button>
                                <hr />
                                <h4 class="card-title">Visible Users</h4>
                                <div ng-repeat="user in userList">
                                    <div ng-if="user.id != socketId">
                                        <div ng-show="user.online">
                                            <div class="alert alert-success" role="alert" ng-click="chatInitialte(username,user.userName)">
                                                {{user.userName}}
                                            </div>
                                        </div>
                                        <div ng-hide="user.online">
                                            <div class="alert alert-warning" role="alert">
                                                {{user.userName}} - offline
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<h3>USERS ONLINE: {{userListCount}}</h3><hr />
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="user in userList"
                                 ng-class="{ 'active' : user.id == selectedUser}"
                                 ng-click=seletedUser(user.id);
                                 ng-style="{'cursor': user.id === socketId ? 'not-allowed' :'pointer'}">
                                <span id='{{user.id}}'>{{ user.id === socketId ? 'You': user.userName }}</span>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
</body>
</html>