<html ng-app="app">
<head>
    <link href="stylesheets/login.css" rel="stylesheet" /> 
    <link href="stylesheets/style.css" rel="stylesheet" />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="Controller">
    <div ng-show="login">
        <div class="login-page" ng-init="init()">
            <div class="form">
                <form class="login-form">
                    <input type="text" placeholder="username" ng-model="username" />
                    <button type="button" ng-click="visibleLogin()">login</button><hr />
                    <button type="button" ng-click="invisibleLogin()">login Invisible</button>
                </form>
            </div>
        </div>
    </div>
    <div ng-hide="login" style="padding:50px;">
        <div style="padding:20px">
            <div class="container">

                <div class="row row-offcanvas row-offcanvas-right">

                    <div class="col-12 col-md-9">
                        <div class="jumbotron">
                            <button type="button" class="btn btn-secondary float-right" ng-click="logout(username)">Logout</button>
                            <h1>Hello, {{username}}!</h1>
                            <p>Visibility: <span class="badge badge-default">{{status}}</span></p>
                            <hr />
                            <div ng-show="chatRequest">
                                <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">Invitation</h4>
                                        <p class="card-text">{{chatRequestMessage}}</p>
                                        <button type="button" class="btn btn-outline-primary" ng-click="acceptChat(communicationObject)">Accept</button>
                                        <button type="button" class="btn btn-outline-danger" ng-click="declineChat(communicationObject)">Decline</button>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div ng-show="chatInvite">
                                <div class="alert alert-info" ng-show='messages.length == 0'>
                                    {{messageInvite}}
                                </div>
                                <hr/>
                            </div> 
                            <div ng-show="chatDeclined">
                                <div class="alert alert-warning" ng-show='messages.length == 0'>
                                    {{chatDeclinedMessage}}
                                </div>
                                <hr />
                            </div> 
                            <div ng-show="chatAccept"> 
                                <div class="card">
                                    <div class="card-header">
                                        Chating with {{chattingWith}}
                                    </div>
                                    <div class="card-block">
                                        <ul class="list-group">
                                            <li class="list-group-item"
                                                ng-repeat="message in messages">
                                                {{ message.name === username ? 'You' : message.name }}: {{ message.msg }}
                                            </li>
                                        </ul>
                                        <div class="alert alert-warning" ng-show='messages.length == 0'>
                                            No messages for you.
                                        </div>
                                        <hr />
                                        <p>Press ENTER to send the message</p>
                                        <div>
                                            <div class="message-sender">
                                                <textarea class="form-control" ng-model='message' ng-keypress="sendMsg($event)"></textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button class="btn btn-primary" ng-click="closeChat(chattingWith)">Close chat</button>
                                    </div>
                                </div> 
                            </div>
                            <div ng-hide="chatAccept"> 
                                <h3>Select a user to begin chatting</h3>
                            </div> 
                        </div>
                    </div>

                    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
                        <div class="card">
                            <div class="card-header">
                                Registered Users: {{userListCount}}
                            </div>
                            <div class="card-block">
                                <h4 class="card-title">How to chat?</h4>
                                <div ng-show="chatAccept">
                                    <p class="card-text">Close the chat to enable this feature</p>
                                </div>
                                <div ng-hide="chatAccept">
                                    <p class="card-text">Enter the username in the search box or select from a list of users who have made their precese visible</p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="searchUsername" placeholder="Enter username">
                                    </div>
                                    <button type="button" ng-click="search()" class="btn btn-primary">Initiate chat</button>
                                    <hr />
                                    <h4 class="card-title">Visible Users</h4>
                                    <div ng-repeat="user in userList">
                                        <div ng-if="user.id != socketId">
                                            <div ng-show="user.online">
                                                <div class="alert alert-success" role="alert" ng-click="chatInitialte(username,user.name)">
                                                    {{user.name}}
                                                </div>
                                            </div>
                                            <div ng-hide="user.online">
                                                <div class="alert alert-warning" role="alert">
                                                    {{user.name}} - offline
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/angular.js"></script> 
    <script src="javascripts/jquery-3.1.1.slim.min.js"></script> 
    <script src="javascripts/tether.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/socket.io-1.0.0.js"></script>
    <script src="javascripts/ngStorage.min.js"></script> 
    <script src="javascripts/app.js" type="text/javascript"></script>
</body>
</html>